        <p>Categories</p>
            <div class="fixed-header" ng-controller="headerCtrl">
                <a href="" ng-click="gotoAnchor(x)" ng-repeat="x in ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']">
                    {{x}}
                </a>
            </div>
            <!--<div id="anchor{{x}}" class="anchor" ng-repeat="wiki in wikis">-->
                <!--&lt;!&ndash;Anchor {{category}} of {{category}}&ndash;&gt;-->
            <!--</div>-->
            <ul>
                <li class="anchor" ng-repeat="category in categories" id="anchor{{category}}" ><a ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">{{category}}</a>
                    <p></p>
                    <!--<div id="anchor{{x}}" class="anchor" ng-repeat="x in ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']"></div>-->
                    <!--<div ng-show="abstract">{{wiki.abstract}}</div>-->
                    <!--<div ng-show="abstract">{{wiki.abstract}}</div>-->
                </li>

            </ul>
        <div id="anchorb" class="anchor"></div>
