        <p>Categories</p>
            <div class="fixed-header" ng-controller="headerCtrl">
                <a href="" ng-click="gotoAnchor(x)" ng-repeat="x in ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']">
                    {{x}}
                </a>
            </div>

            <ul>
                <li class="anchor" ng-repeat="category in categories" id="anchor{{category}}">
                    <a href="" onclick="getWikisWithCategory(category)">{{category}}</a>
                    <div ng-show="title">
                        <li ng-repeat="wiki in wikis">{{wiki.title}}</li>
                    </div>

                </li>


            </ul>
        <div id="anchorb" class="anchor"></div>
